*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
dl,
dt,
dd,
ul,
ol,
li,
a,
div,
em,
span,
img,
form,
input,
p,
i {
    padding: 0;
    margin: 0;
    border: none;
}

em,
i,
cite {
    word-wrap: break-word;
    font-style: normal;
}

ul,
li {
    list-style: none;
}

a,
a:visited,
a:active {
    color: #3C3C3C;
    text-decoration: none;
}

a,
button,
span,
i,
div,
h2,
aside {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus::-webkit-input-placeholder {
    color: #b7b7b7;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
    margin: 0;
    padding: 0;
}

html,
body,
.contener {
    width: 100%;
    height: 100%;
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;
}

html {
    font-size: 100px;
}

input,
button,
textarea {
    border: none;
    /*-webkit-appearance: none;*/
    -moz-appearance: none;
    -webkit-border-image: none;
    border-image: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input:focus,
textarea:focus {
    outline: 0 none;
}

.clear:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

[hide]{
    display: none;
}

body {
    font-family: "microsoft yahei", simhei;
    font-size: 0.12rem;
    position: relative;
    background: #f2f2f2;
}

@font-face {
  font-family: 'iconfont';  /* project id 249423 */
  src: url('//at.alicdn.com/t/font_j0yk2e1k9snka9k9.eot');
  src: url('//at.alicdn.com/t/font_j0yk2e1k9snka9k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_j0yk2e1k9snka9k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_j0yk2e1k9snka9k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_j0yk2e1k9snka9k9.svg#iconfont') format('svg');
}

.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn{
    font-size: 0.18rem;
    border: none;
    height: 0.5rem;
    line-height: 0.5rem;
    width: 100%;
    display: block;
    border-radius: 0.08rem;
    background: #ef3726;
    color: #fff;
}

.foot_menu {
    background: #fff;
    border-top: 1px #ccc solid;
    position: absolute;
    z-index: 99;
    bottom: 0;
    width: 100%;
    max-width: 800px;
}

.foot_menu .link {
    display: block;
    width: 33.3%;
    text-align: center;
    padding: 0.06rem 0;
}

.foot_menu .active p {
    color: #ef3726;
}

.lottery_hall .img {
    background: url(../images/dating.png) center no-repeat;
    background-size: contain;
}

.draw_notice .img {
    background: url(../images/gonggao.png) center no-repeat;
    background-size: contain;
}

.my_lottery .img {
    background: url(../images/wode.png) center no-repeat;
    background-size: contain;
}

.lottery_menu {
    height: 0.18rem;
    width: 0.205rem;
    margin: auto auto 0.04rem auto;
}

.lottery_hall.active .img {
    background: url(../images/datingactive.png) top center no-repeat;
    background-size: contain;
}

.draw_notice.active .img {
    background: url(../images/gonggaoactive.png) top center no-repeat;
    background-size: contain;
}

.my_lottery.active .img {
    background: url(../images/wodeactive.png) top center no-repeat;
    background-size: contain;
}

.flex {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    /*-webkit-box-pack: justify;
    justify-content:space-around;*/
}

/*弹出层*/
.bomb_box {
    position: absolute;
    z-index: 999999999;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bomb_box .close {
    position: absolute;
    right: 0;
    padding: 0.15rem 0.15rem 0.03rem 0;
    color: #999;
    font-weight: 600;
}

.bomb_box .close i.icon{
    font-size: 14px;
}


.contener {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background: #f2f2f2;
}

.scroll-content {
    position: absolute;
    margin-top: 0.44rem;
    margin-bottom: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.tabs {
    margin-top: 0.44rem;
    margin-bottom: 0.5rem;
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    overflow-y: hidden;
    width: 100%;
}

.scroll-tab {
    top: 0.48rem;
    bottom: 0.5rem;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

/*重写mint-ui*/
body .mint-indicator-wrapper{
    z-index: 99999999;
}
body .mint-indicator-mask{
    z-index: 99999999;
}
body .mint-indicator {
  -webkit-transition: none;
  transition: none;
}
body .mint-toast {
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999999;
}
body .mint-actionsheet{
    background: none;
    width: 95%;
    margin-bottom: 0.1rem;
}
body .mint-actionsheet-listitem{
color: #0084ff;
}
body .mint-actionsheet .mint-actionsheet-listitem:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
body .mint-actionsheet .mint-actionsheet-listitem:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
body .mint-actionsheet-button{
    border-radius: 10px;
    border-radius: 10px;
}