[text-left] {
    text-align: left;
}

[text-center] {
    text-align: center;
}

[text-right] {
    text-align: right;
}

[hidden] {
    display: none !important;
}

[hide] {
    display: none !important;
}

.clear:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.blue{
    color: #3b97ff;
}

.red{
    color: #ff3b3b;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "microsoft yahei", simhei;
    font-size: 12px;
    background: #f2f2f2;
    text-align: center;
}

.icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
    font-size: 0.18rem;
    border: none;
    height: 0.5rem;
    line-height: 0.5rem;
    width: 100%;
    display: block;
    border-radius: 0.08rem;
    background: #ef3726;
    color: #fff;
}

.flex {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    /*-webkit-box-pack: justify;
    justify-content:space-around;*/
}

.tabs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    contain: strict;
    overflow: hidden;
}


/*底部*/

.tabbar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    opacity: 1;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 0.55px solid rgba(0, 0, 0, 0.3);
    height: 0.5rem;
    background: #fff;
}

.tab-button {
    position: relative;
    z-index: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    border: 0;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}

.tab-button-icon {
    height: .18rem;
    margin-top: .02rem;
    margin-bottom: .04rem;
    min-width: 0.35rem;
    font-size: 30px;
    color: #8c8c8c;
    overflow: hidden;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    speak: none;
}

.tab-button-text {
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 0.12rem;
    text-transform: none;
    display: block;
    overflow: hidden;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    min-width: 0.26rem;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*头部*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;
    background: #ef3726;
}

.toolbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    contain: content;
    padding: 4px;
    height: 0.45rem;
}

.bar-button {
    padding: 0 4px;
    height: 0.32rem;
    border: 0;
    border-radius: 4px;
    font-size: 0.14rem;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    pointer-events: auto;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 1;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: top;
    vertical-align: -webkit-baseline-middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff !important;
}

.button-inner i.icon {
    font-size: 20px;
    color: #fff;
}

.title-h {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}

.toolbar-title {
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.18rem;
    text-align: center;
    color: #fff;
    pointer-events: auto;
}

.tab-content {
    contain: strict;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    display: block;
}

[margin-tabbar] {
    margin-bottom: 0.5rem;
}

[margin-header] {
    margin-top: 0.45rem;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    contain: layout size style;
    background: #f2f2f2;
    overflow: hidden;
}

.content-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    background: #f2f2f2;
    z-index: 1000;
}

.scroll-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    background: #f2f2f2;
}

.nav-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    background: #f2f2f2;
}


/*index icon*/

.home-icon {
    background: url(../images/dating.png) center no-repeat;
    background-size: contain;
}

.notice-icon {
    background: url(../images/gonggao.png) center no-repeat;
    background-size: contain;
}

.lottery-icon {
    background: url(../images/wode.png) center no-repeat;
    background-size: contain;
}

.active .home-icon {
    background: url(../images/datingactive.png) top center no-repeat;
    background-size: contain;
}

.active .notice-icon {
    background: url(../images/gonggaoactive.png) top center no-repeat;
    background-size: contain;
}

.active .lottery-icon {
    background: url(../images/wodeactive.png) top center no-repeat;
    background-size: contain;
}

.active .tab-button-text {
    color: #ef3726;
}

.foot_menu {
    background: #fff;
    border-top: 1px #ccc solid;
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
}


/*弹出层*/

.bomb_box {
    position: absolute;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bomb_box .close {
    position: absolute;
    right: 0;
    padding: 0.15rem 0.15rem 0.03rem 0;
    color: #999;
    font-weight: 600;
}

.bomb_box .close i.icon {
    font-size: 14px;
}

/*nav float 浮层选择*/
.box_mask{
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.float_nav{
    position: absolute;
    z-index: 21;
    background-color: #000;
    opacity: 0.85;
    color: #fff;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.14rem;
    top: 0.45rem;
}
.float_nav .navs{
    display: flex;
    border-bottom: 1px solid #2f2f2f;
}
.float_nav .navs:last-child{
    border-bottom:none;
}
.float_nav .nav_btn{
    flex: 0.3333333;
    height: 0.45rem;
    line-height: 0.45rem;
    border-right: 1px solid #2f2f2f;
}
.float_nav .nav_btn:nth-child(3n){
    border-right: none; 
}

.float_menu{
    position: absolute;
    z-index: 21;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-right: none;
    right: 0;
    width: 1rem;
    top: 0.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: -1px 2px 3px #e8e8e8;
}
.float_menu .triangle_menu{
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
    top: -0.095rem;
    right: 0.11rem;
    border-left: 0.07rem solid transparent;
    border-right: 0.07rem solid transparent;
    border-bottom: 0.08rem solid #fff;
}
.float_menu .menu_item{
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.12rem;
    padding-left: 0.35rem;
    text-align: left;
    border-bottom: 1px solid #f3f3f3;
}
.float_menu .menu_item:last-child{
    border-bottom:none
}
.float_menu .icon{
    position: absolute;
    left: 0;
    padding-left: 0.13rem;
    font-size: 0.14rem;
    color: #808080;
}

/*重写mint-ui*/

body .mint-indicator-wrapper {
    z-index: 99999;
}

body .mint-indicator-mask {
    z-index: 99999;
}

body .mint-indicator {
    -webkit-transition: none;
    transition: none;
}

html .mint-toast {
    background: rgba(0, 0, 0, 0.8);
}

body .mint-actionsheet {
    background: none;
    width: 95%;
    margin-bottom: 0.1rem;
}

body .mint-actionsheet-listitem {
    color: #0084ff;
}

body .mint-actionsheet .mint-actionsheet-listitem:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

body .mint-actionsheet .mint-actionsheet-listitem:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

body .mint-actionsheet-button {
    border-radius: 10px;
    border-radius: 10px;
}
