.record_select {
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    position: fixed;
    top: 0.44rem;
    max-width: 800px;
    background: #fff;
}

ul.record_select >li {
    padding: 0 0.1rem;
    width: 25%;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    float: left;
    font-size: 0.16rem;
    color: #989898;
    font-family: "microsoft yahei", simhei;
}

ul.record_select >li a {
    width: 100%;
    display: inline-block;
}

ul.record_select >li span {
    display: inline-block;
    height: 0.4rem;
}

ul.record_select >li.active span {
    color: #ef3726;
    border-bottom: 2px solid #ef3726;
}


.notice_menu li {
    width: 33.3%;
    text-align: center;
}
.information_list .information{
    border-bottom: 1px #cccccc solid;
}

.information_listbg {
    background: #efefef;
}

.information_listbg li {
    display: block;
    margin-bottom: 0.15rem;
    background: #fff;
    border-bottom: none !important;
}
.information_list li:last-child{
    border-bottom:none
}

.information_list p {
    text-align: left;
}

.tyle_information {
    position: relative;
}
.recordtyle_list{
    background:#fff url(../images/youjiant.png) no-repeat right center;
    background-size: 0.09rem;
    margin: 0 0.15rem;
    border-bottom: 1px #cccccc solid;
}

.tyle_information .bet_cont {
    flex-wrap: wrap;
}
.tyle_information .bet_cont > div{
    margin:0 0.06rem 0.02rem 0;
    width: 0.32rem;
    height: 0.32rem;
    line-height: 0.32rem;

}

.tyle_information img {
    display: block;
    width: 0.55rem;
}

.tyle_information div.content_info {
    position: absolute;
    left: 0.62rem;
    top: 0;
    height: 0.55rem;
    width: 2.66rem;
    margin-top: 0.13rem;
    padding-top: 0.06rem;
}

.tyle_information div.content_info .content_top {
    height: 0.2rem;
}

.tyle_information div.content_info .content_bottom {
    height: 0.18rem;
    margin-top: 0.1rem;
}

.tyle_information div.content_info .content_top p {
    color: #333333;
    font-size: 0.15rem;
}

.tyle_information div.content_info .content_bottom p {
    color: #989898;
    font-size: 0.12rem;
}

.tyle_information p span:nth-child(2) {
    margin-right: 0.06rem;
}
.trade_type{
    height: 0.35rem;
    line-height: 0.35rem;
    text-align: center;
    
    font-size: 0.14rem;
}
.trade_type .trading_success{
    color: #27c436;
    }
.trade_type .trading_close{
    color: #999;
}
.trade_typefirst{
    justify-content: space-between;
    padding: 0 0.15rem;
    height: 0.35rem;
    line-height: 0.35rem;
}
.obligations{
    color: #f8aa22;
    font-size: 0.14rem;
    flex:.8;
    text-align: left;
}
.record_payment{
    /*flex:1;*/
    text-align: right;
}
.record_payment a{
    width: 0.71rem !important;
    height: 0.23rem;
    line-height: 0.21rem;
    text-align: center;  
    border: 1px #ccc solid;
    padding: 0 !important;
    display: inline-block;
    color: #666666;
    font-size: 0.13rem;
    margin: auto 0;
    border-radius: 0.03rem;
}
.record_payment .record_paybut{
    border: 1px #ef3726 solid;
    color: #ef3726;
    margin-left: 0.1rem;
}

.record_details{
    padding: 0 0.15rem;
    background: #fff;
    margin-top: 0.15rem;
}
.record_details .details_title{
    text-align: left;
    font-size: 0.12rem;
    color: #989898;
    padding: 0.18rem 0;
    border-bottom: 1px #ccc dashed;
}
.record_details .details_title strong{
    color: #333333;
    font-size:0.16rem;
    margin-right: 0.12rem;
}
.award_details{
    justify-content: space-between;
    padding: 0.18rem 0;
    position: relative;
    border-bottom: 1px #ccc dashed;
}
.award_details .bet_cont{
    flex: 1;
    flex-wrap: wrap;
}
.award_details .bet_cont > div{
    margin:0 0.06rem 0.02rem 0;
}
.award_details .prize_win{
    color: #27c436;
    font-size: 0.14rem;
    flex: .3;
}
.award_details .prize_win span{
    position: absolute;
    top: 50%;
    display: block;
    transform: translate(90%,-50%);
}

.award_details .prize_notwin{
    color: #989898;
    font-size: 0.14rem;
    flex: .3;
}
.award_details .prize_notwin span{
    position: absolute;
    top: 50%;
    display: block;
    transform: translate(90%,-50%);
}
.record_details .details_bottom{
    font-size: 0.12rem;
    color: #989898;
    text-align: left;
    padding: 0.18rem 0;
}
.record_details .total_bets{
    text-align: right;
    font-size: 0.13rem;
    color: #333333;
}
.record_details .total_bets span{
    color: #ef3726;
    font-size:0.24rem;
}
.wantbet_but .wantbet{
    display: block;
    height: 0.49rem;
    line-height: 0.49rem;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: #ef3726;
    color: #fff;
    font-size:0.18rem;
}
.wait_lottery{
    text-align: left;
}
.wait_lottery strong{
    color: #999;
    font-size: 0.18rem;
    margin-right: 0.16rem;
}
.wait_lottery span{
    color: #ef3726;
}